{% extends 'base.html.twig' %}

{% block title %}
  Please sign in
{% endblock %}

{% block body %}
  <main class="container container_sm">
    <h1 class="mt mb">
      {{ block('title') }}
    </h1>

    <form method="post">
      {% if error %}
        <div class="alert bg-pink mb">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      {% endif %}

      <div>
        <label for="inputEmail" class="mb">Email</label>
        <input type="email"
          value="{{ last_username }}"
          name="email"
          id="inputEmail"
          class="mb"
          autocomplete="email"
          required
          autofocus />
      </div>
      <div>
        <label for="inputPassword">Password</label>
        <input type="password"
          name="password"
          id="inputPassword"
          class="mb"
          autocomplete="current-password"
          required />
      </div>

      <div class="row mb">
        <label for="rememberMe">Remember me</label>
        <input id="rememberMe"
          class="mb"
          type="checkbox"
          name="_remember_me"
          {{ remember_me ? 'checked' }} />
      </div>

      <input type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}" />

      <button type="submit" class="mb">Sign in</button>
    </form>
  </main>
{% endblock %}
