{% extends 'base.html.twig' %}

{% block title %}
  Completed list
{% endblock %}

{% block content %}
  {% include 'task/_search.html.twig' with {} only %}

  {% if (tasks|length) > 0 %}
    <div class="grid grid_completed">
      <div class="grid__label grid__label_md">
        ID
      </div>
      <div class="grid__label grid__label_md">
        Created
      </div>
      <div class="grid__label grid__label_md">
        Completed
      </div>
      <div class="grid__label grid__label_md">
        Age
      </div>
      <div class="grid__label grid__label_md">
        Tag
      </div>
      <div class="grid__label grid__label_md grid__label_left">
        Title
      </div>
      {% for task in tasks %}
        <div class="grid__label grid__label_sm">
          ID
        </div>
        <a href="{{
          path(
            'task_view',
            {
              id: task.id
            }
          )
          }}"
          class="grid__cell grid__cell_mono">
          {{ task.id|slice(0, 8) }}
        </a>

        <div class="grid__label grid__label_sm">
          Created
        </div>
        <div class="grid__cell">
          {{ task.created|user_date }}
        </div>

        <div class="grid__label grid__label_sm">
          Completed
        </div>
        <div class="grid__cell">
          {{ task.ended|user_date }}
        </div>

        <div class="grid__label grid__label_sm">
          Age
        </div>
        <div class="grid__cell grid__cell_right">
          {{ now|date_diff(task.created) }}
        </div>

        <div class="grid__label grid__label_sm">
          Tag
        </div>
        <div class="grid__cell">
          {% for tag in task.tags %}
            {{ tag }}
          {% endfor %}
        </div>

        <div class="grid__label grid__label_sm">
          Title
        </div>
        <div class="grid__cell">
          {{ task.title }}
        </div>

        <div class="grid__cell grid__cell_space"></div>
        <div class="grid__cell grid__cell_space"></div>
      {% endfor %}
    </div>

    <div class="buttons-group">
      {% set query = app.request.query.all() %}
      {% if page > 1 %}
        <a href="{{
          path(
            'task_completed',
            query|merge({
              page: page - 1
            })
          )
          }}"
          class="buttons-group__button">
          Prev
        </a>
      {% endif %}
      {% if more %}
        <a href="{{
          path(
            'task_completed',
            query|merge({
              page: page + 1
            })
          )
          }}"
          class="buttons-group__button">
          Next
        </a>
      {% endif %}
    </div>
  {% else %}
    <div class="message message_green">
      No tasks done :-(
    </div>
  {% endif %}
{% endblock %}
