{% extends 'base.html.twig' %}

{% block title %}Completed{% endblock %}

{% block content %}
<main class="container container_lg">
  {% include 'task/_search.html.twig' with {} only %}
  
  <div class="grid grid_completed">
    <div class="md-only"><strong>ID</strong></div>
    <div class="md-only"><strong>Created</strong></div>
    <div class="md-only"><strong>Completed</strong></div>
    <div class="md-only"><strong>Age</strong></div>
    <div class="md-only"><strong>Tag</strong></div>
    <div class="md-only"><strong>Title</strong></div>
    {% for task in tasks %}
      <div class="sm-only"><strong>ID</strong></div>
      <div class="grid__col-id">
        <a href="{{ path('task_view', {id: task.id}) }}" class="mono">{{ task.id|slice(0,8) }}</a>
      </div>

      <div class="sm-only"><strong>Created</strong></div>
      <div class="grid__col-created">{{ task.created|user_date }}</div>

      <div class="sm-only"><strong>Completed</strong></div>
      <div class="grid__col-completed">{{ task.ended|user_date }}</div>

      <div class="sm-only"><strong>Age</strong></div>
      <div class="grid__col-age">{{ task.created|date_diff(now) }}</div>

      <div class="sm-only"><strong>Tag</strong></div>
      <div class="grid__col-tag">
      {% for tag in task.tags %}
        {{ tag.name }}
      {% endfor %}
      </div>

      <div class="sm-only"><strong>Title</strong></div>
      <div class="grid__col-title">{{ task.title }}</div>
    {% endfor %}
  </div>

  <div class="row">
    {% set query = app.request.query.all() %}
    {% if page > 1 %}
      <a href="{{ path('task_completed', query|merge({ page: page-1 })) }}" class="btn btn_orange">Prev</a>
    {% endif %}
    {% if more %}
      <a href="{{ path('task_completed', query|merge({ page: page+1 })) }}" class="btn btn_orange">Next</a>
    {% endif %}
  </div>
</main>
{% endblock %}
