{% extends 'base.html.twig' %}

{% block title %}Current{% endblock %}

{% block content %}
<main class="container container_lg">
  <div class="grid grid_current">
    <div class="md-only"><strong>ID</strong></div>
    <div class="md-only"><strong>Active</strong></div>
    <div class="md-only"><strong>Age</strong></div>
    <div class="md-only"><strong>Tag</strong></div>
    <div class="md-only"><strong>Title</strong></div>
    {% for task in tasks %}
      <div class="sm-only"><strong>ID</strong></div>
      <div><a href="{{ url('task_view', {id: task.id}) }}" class="mono">{{ task.id|slice(0,8) }}</a></div>

      <div class="sm-only"><strong>Active</strong></div>
      <div>
      {% if task.started %}
        {{ task.started|date_diff(now) }}
      {% endif %}
      </div>

      <div class="sm-only"><strong>Age</strong></div>
      <div>{{ task.created|date_diff(now) }}</div>

      <div class="sm-only"><strong>Tag</strong></div>
      <div>
      {% for tag in task.tags %}
        {{ tag.name }}
      {% endfor %}
      </div>

      <div class="sm-only"><strong>Title</strong></div>
      <div>{{ task.title }}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
