{% extends 'base.html.twig' %}

{% block title %}
  Current list
{% endblock %}

{% block content %}
  {% if (tasks|length) > 0 %}
    {% include 'task/_search.html.twig' with {} only %}

    <div class="grid grid_current mb">
      <div class="grid__label md-only">
        ID
      </div>
      <div class="grid__label md-only">
        Active
      </div>
      <div class="grid__label md-only">
        Age
      </div>
      <div class="grid__label md-only">
        Tag
      </div>
      <div class="grid__label md-only">
        Title
      </div>
      {% for task in tasks %}
        {% set task_active = task.started is not null %}
        <div class="grid__label sm-only">
          ID
        </div>
        <div class="{{
          html_classes(
            'grid__cell-id',
            {
              grid__row_active: task_active
            }
          )
          }}">
          <a href="{{
            path(
              'task_view',
              {
                id: task.id
              }
            )
            }}"
            class="mono">
            {{ task.id|slice(0, 8) }}
          </a>
        </div>

        <div class="grid__label sm-only">
          Active
        </div>
        <div class="{{
          html_classes(
            'grid__cell-active',
            {
              grid__row_active: task_active
            }
          )
          }}">
          {% if task.started %}
            {{ task.started|date_diff(now) }}
          {% endif %}
        </div>

        <div class="grid__label sm-only">
          Age
        </div>
        <div class="{{
          html_classes(
            'grid__cell-age',
            {
              grid__row_active: task_active
            }
          )
          }}">
          {{ task.created|date_diff(now) }}
        </div>

        <div class="grid__label sm-only">
          Tag
        </div>
        <div class="{{
          html_classes(
            'grid__cell-tag',
            {
              grid__row_active: task_active
            }
          )
          }}">
          {% for tag in task.tags %}
            {{ tag.name }}
          {% endfor %}
        </div>

        <div class="grid__label sm-only">
          Title
        </div>
        <div class="{{
          html_classes(
            'grid__cell-title',
            {
              grid__row_active: task_active
            }
          )
          }}">
          {{ task.title }}
        </div>

        <div class="row sm-only"></div>
        <div class="row sm-only"></div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert bg-green black">
      Yay! No tasks found
    </div>
  {% endif %}
{% endblock %}
