{% extends 'base.html.twig' %}

{% block title %}
  Edit task
{% endblock %}

{% block content %}
  <div class="buttons-group">
    <a href="{{
      path(
        'task_view',
        {
          id: task.id
        }
      )
      }}"
      class="buttons-group__button">
      View
    </a>
    <form method="POST"
      action="{{
      path(
        'task_delete',
        {
          id: task.id
        }
      )
      }}">
      <input type="hidden" name="_token" value="{{ csrf_token('task') }}" />
      <button type="submit"
        class="buttons-group__button buttons-group__button_pink">
        Delete
      </button>
    </form>
  </div>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit"
    name="apply"
    title="Redirects to task view page"
    class="form__button">
    Apply
  </button>
  <button type="submit"
    name="save"
    title="Redirects to task list"
    class="form__button">
    Save
  </button>
  {{ form_end(form) }}
{% endblock %}
