{% extends 'base.html.twig' %}

{% block title %}
  Task "{{ task.title }}"
{% endblock %}

{% block content %}
  <div class="buttons-group">
    <a href="{{
      path(
        'task_edit',
        {
          id: task.id
        }
      )
      }}"
      class="buttons-group__button">
      Edit
    </a>
    <form method="POST"
      action="{{
      path(
        'task_delete',
        {
          id: task.id
        }
      )
      }}">
      <input type="hidden" name="_token" value="{{ csrf_token('task') }}" />
      <button type="submit"
        class="buttons-group__button buttons-group__button_pink">
        Delete
      </button>
    </form>
  </div>

  <div class="grid grid_task">
    <div class="grid__label">
      ID
    </div>
    <div class="grid__cell grid__cell_mono">
      {{ task.id }}
    </div>

    <div class="grid__label">
      Title
    </div>
    <div class="grid__cell">
      {{ task.title }}
    </div>

    <div class="grid__label">
      Tag
    </div>
    <div class="grid__cell">
      {% for tag in task.tags %}
        {{ tag.name }}
      {% endfor %}
    </div>

    <div class="grid__label">
      Description
    </div>
    <div class="grid__cell markdown">
      {{ task.description|markdown_to_html }}
    </div>

    <div class="grid__label">
      Created
    </div>
    <div class="grid__cell">
      {{ task.created|user_datetime }}
    </div>

    <div class="grid__label">
      Updated
    </div>
    <div class="grid__cell">
      {{ task.updated|user_datetime }}
    </div>

    <div class="grid__label">
      Wait
    </div>
    <div class="grid__cell">
      {% if task.wait %}
        {{ task.wait|user_datetime }}
      {% else %}
        &mdash;
      {% endif %}
    </div>

    <div class="grid__label">
      Started
    </div>
    <div class="grid__cell">
      {% if task.started %}
        {{ task.started|user_datetime }}
      {% else %}
        &mdash;
      {% endif %}
    </div>

    <div class="grid__label">
      Ended
    </div>
    <div class="grid__cell">
      {% if task.ended %}
        {{ task.ended|user_datetime }}
      {% else %}
        &mdash;
      {% endif %}
    </div>

    <div class="grid__label">
      Due
    </div>
    <div class="grid__cell">
      {% if task.due %}
        {{ task.due|user_datetime }}
      {% else %}
        &mdash;
      {% endif %}
    </div>
  </div>
{% endblock %}
