{% extends 'base.html.twig' %}

{% block title %}View {{ task.title }}{% endblock %}

{% block body %}
<div>
  <a href="{{ url('task_edit', {id: task.id}) }}">Edit</a>
  <form method="POST" action="{{ url('task_delete', {id: task.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('task') }}">
    <button type="submit">Delete</button>
  </form>
</div>
<div>
  <h1>{{ task.title }}</h1>
</div>
<div>
  <div>Id</div>
  <div>{{ task.id }}</div>
</div>
{% endblock %}
