{% extends 'base.html.twig' %}

{% block title %}Waiting{% endblock %}

{% block content %}
<main class="container container_lg">
  {% include 'task/_search.html.twig' with {} only %}
  
  <div class="grid grid_waiting">
    <div class="md-only"><strong>ID</strong></div>
    <div class="md-only"><strong>Age</strong></div>
    <div class="md-only"><strong>Tag</strong></div>
    <div class="md-only"><strong>Wait</strong></div>
    <div class="md-only"><strong>Remaining</strong></div>
    <div class="md-only"><strong>Title</strong></div>
    {% for task in tasks %}
      <div class="sm-only"><strong>ID</strong></div>
      <div class="grid__col-id">
        <a href="{{ path('task_view', {id: task.id}) }}" class="mono">{{ task.id|slice(0,8) }}</a>
      </div>

      <div class="sm-only"><strong>Age</strong></div>
      <div class="grid__col-age">{{ task.created|date_diff(now) }}</div>

      <div class="sm-only"><strong>Tag</strong></div>
      <div class="grid__col-tag">
      {% for tag in task.tags %}
        {{ tag.name }}
      {% endfor %}
      </div>

      <div class="sm-only"><strong>Wait</strong></div>
      <div class="grid__col-wait">{{ task.wait|user_date }}</div>

      <div class="sm-only"><strong>Remaining</strong></div>
      <div class="grid__col-remaining">{{ task.wait|date_diff(now) }}</div>

      <div class="sm-only"><strong>Title</strong></div>
      <div class="grid__col-title">{{ task.title }}</div>
    {% endfor %}
  </div>
</main>
{% endblock %}
