{% extends 'base.html.twig' %}

{% block title %}
  Waiting list
{% endblock %}

{% block content %}
  {% include 'task/_search.html.twig' with {} only %}

  <div class="grid grid_waiting mb">
    <div class="grid__label md-only">
      ID
    </div>
    <div class="grid__label md-only">
      Age
    </div>
    <div class="grid__label md-only">
      Tag
    </div>
    <div class="grid__label md-only">
      Wait
    </div>
    <div class="grid__label md-only">
      Remaining
    </div>
    <div class="grid__label md-only">
      Title
    </div>
    {% for task in tasks %}
      <div class="grid__label sm-only">
        ID
      </div>
      <div class="grid__cell-id">
        <a href="{{
          path(
            'task_view',
            {
              id: task.id
            }
          )
          }}"
          class="mono">
          {{ task.id|slice(0, 8) }}
        </a>
      </div>

      <div class="grid__label sm-only">
        Age
      </div>
      <div class="grid__cell-age">
        {{ task.created|date_diff(now) }}
      </div>

      <div class="grid__label sm-only">
        Tag
      </div>
      <div class="grid__cell-tag">
        {% for tag in task.tags %}
          {{ tag.name }}
        {% endfor %}
      </div>

      <div class="grid__label sm-only">
        Wait
      </div>
      <div class="grid__cell-wait">
        {{ task.wait|user_date }}
      </div>

      <div class="grid__label sm-only">
        Remaining
      </div>
      <div class="grid__cell-remaining">
        {{ task.wait|date_diff(now) }}
      </div>

      <div class="grid__label sm-only">
        Title
      </div>
      <div class="grid__cell-title">
        {{ task.title }}
      </div>

      <div class="row sm-only"></div>
      <div class="row sm-only"></div>
    {% endfor %}
  </div>
{% endblock %}
