{% extends 'base.html.twig' %}

{% block title %}
  Waiting list
{% endblock %}

{% block content %}
  {% include 'task/_search.html.twig' with {} only %}

  {% if (tasks|length) > 0 %}
    <div class="grid grid_waiting">
      <div class="grid__label grid__label_md">
        ID
      </div>
      <div class="grid__label grid__label_md">
        Age
      </div>
      <div class="grid__label grid__label_md">
        Tag
      </div>
      <div class="grid__label grid__label_md">
        Wait
      </div>
      <div class="grid__label grid__label_md">
        Remaining
      </div>
      <div class="grid__label grid__label_md grid__label_left">
        Title
      </div>
      {% for task in tasks %}
        <div class="grid__label grid__label_sm">
          ID
        </div>
        <a class="grid__cell grid__cell_mono"
          href="{{
          path(
            'task_view',
            {
              id: task.id
            }
          )
          }}">
          {{ task.id|slice(0, 8) }}
        </a>

        <div class="grid__label grid__label_sm">
          Age
        </div>
        <div class="grid__cell grid__cell_right">
          {{ now|date_diff(task.created) }}
        </div>

        <div class="grid__label grid__label_sm">
          Tag
        </div>
        <div class="grid__cell">
          {% for tag in task.tags %}
            {{ tag }}
          {% endfor %}
        </div>

        <div class="grid__label grid__label_sm">
          Wait
        </div>
        <div class="grid__cell">
          {{ task.wait|user_date }}
        </div>

        <div class="grid__label grid__label_sm">
          Remaining
        </div>
        <div class="grid__cell grid__cell_right">
          {{ task.wait|date_diff(now) }}
        </div>

        <div class="grid__label grid__label_sm">
          Title
        </div>
        <div class="grid__cell">
          {{ task.title }}
        </div>

        <div class="grid__cell grid__cell_space"></div>
        <div class="grid__cell grid__cell_space"></div>
      {% endfor %}
    </div>
  {% else %}
    <div class="message message_green">
      Yay! No tasks found
    </div>
  {% endif %}
{% endblock %}
