{% use "form_div_layout.html.twig" %}

{%- block form_start -%}
  {% set attr =
    attr|merge({
      class: 'form'
    })
  %}
  {{- parent() -}}
{%- endblock -%}

{%- block form_label -%}
  {% set label_attr =
    label_attr|merge({
      class: 'form__label'
    })
  %}
  {{- parent() -}}
{%- endblock -%}

{%- block form_errors -%}
  {%- if (errors|length) > 0 -%}
    {%- for error in errors -%}
      <div class="message message_pink">
        {{ error.message }}
      </div>
    {%- endfor -%}
  {%- endif -%}
{%- endblock -%}

{%- block form_widget_simple -%}
  {% set attr =
    attr|merge({
      class: 'form__input'
    })
  %}
  {{- parent() -}}
{%- endblock -%}

{%- block textarea_widget -%}
  {% set attr =
    attr|merge({
      class: 'form__input form__input_textarea'
    })
  %}
  {{- parent() -}}
{%- endblock -%}
